PORT_NUMBER=3000
MONGO_URI=your_mongodb_uri
SALT_ROUND=10
MAIL_PASS=your_mail_password
USER_MAIL=your_email
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
SECRET_KEY=your_secret_key
CLIENT_URL=http://localhost:3000
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# cloudinary env setup
CLOUD_NAME=your_cloudinary_name
CLOUD_SECRET_CODE=your_cloudinary_secret_code
CLOUD_API=your_cloudinary_api

# razorpay instance
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_SECRET=your_razorpay_secret
