<%- include('../partials/header') %>

    <div class="flex">
<%- include('../partials/sidebar') %>
        <main class="flex-1 p-3 lg:p-6 lg:ml-0 min-h-screen">
          </main>
    </div>

 <%- include('../partials/footer') %>

